In [7]:
#Create two numbers. One float another integer. Add two numbers and print the result in  integer format."
a=40.55
b=15
print(int(a+b))

55

In [12]:
#Create a list with numbers 1 to 10 and sort it in ascending and descending order."
list=[1,2,3,4,6,5,7,9,8,10]
list.sort()
print("sorted_asc_list:", list)
list.sort(reverse=True)
print("Desc_sort:", list)

sorted_asc_list: [1, 2, 3, 4, 5, 6, 7, 8, 9, 10]
Desc_sort: [10, 9, 8, 7, 6, 5, 4, 3, 2, 1]

In [1]:
#Create a list with numbers 1 to 10 in it ([1,2,3….10]) Write a for loop on this list to sum up all numbers in the list except 5 and 7. Print the result."
num=[1,2,3,4,5,6,7,8,9,10]

sum_1=0
for i in num:
    if i!=5 and i!=7:
        sum_1=sum_1+i
print(sum_1)

43

In [10]:
#Write a while loop to create a list with numbers from 1 to 100. When inserting new number in the list, skip every number which is divisible by 3.  Print the result. Tip: To check whether number is divisible by 3 you can use % operator"

number_range = []
current_number = 1

while current_number <= 100:
    if current_number % 3 != 0:
        number_range.append(current_number)
    
    current_number += 1

print("list of numbers:", number_range)

list of numbers: [1, 2, 4, 5, 7, 8, 10, 11, 13, 14, 16, 17, 19, 20, 22, 23, 25, 26, 28, 29, 31, 32, 34, 35, 37, 38, 40, 41, 43, 44, 46, 47, 49, 50, 52, 53, 55, 56, 58, 59, 61, 62, 64, 65, 67, 68, 70, 71, 73, 74, 76, 77, 79, 80, 82, 83, 85, 86, 88, 89, 91, 92, 94, 95, 97, 98, 100]

In [9]:
# Create a dictionary with 5 key pair values. Key would be a grocery item name and value will be its price (any value in the range of 100 to 1000). 
(take any grocery items) Write a for loop to iterate over a dictionary and print key-value pairs. 
While printing if the value is greater Rs. 500 then print a line – “this is a costly item.” \n"


Dict={
    "pulses":250,
    "Almond":500,
    "coffee":800,
    "Rice":1000,
    "Puffed rice":400,
    }
     
for key,value in Dict.items():
        if value > 500:
            print(key,value,"This is costly item")
        else:
            print(key,value)

pulses 250
Almond 500
coffee 800 This is costly item
Rice 1000 This is costly item
Puffed rice 400

In [2]:
# In the dictionary created in Task 3 delete the key value pairs where price is less than average price of all the items in the dictionary."

Dict={
    "pulses":250,
    "Almond":500,
    "coffee":800,
    "Rice":1000,
    "Puffed rice":400,
    }

total_price=0
for price in Dict.values():
    total_price=total_price + price
avg_price= total_price / len(Dict)

key_to_delete= []
for key,value in Dict.items():
    if value < avg_price:
        key_to_delete.append(key)

for key in key_to_delete:
    del Dict[key]

print(Dict)

{'coffee': 800, 'Rice': 1000}

In [1]:
#Create a function which takes 2 numbers as inputs and returns the following three values. Addition of two numbers. Subtraction of two numbers. Multiplication of two numbers"

def add_sub_multi(num1, num2):
    add = num1 + num2
    sub = num1 - num2
    multi = num1 * num2
    return add, sub, multi

In [2]:
final = add_sub_multi(12, 10)
print(final)

(22, 2, 120)

In [59]:
#\t“i live in india since my childhood”. Count number of i in this text"

text="i live in india since my childhood"
input = text.count("i")
print(input)

7

In [61]:
# data = [1,2,3,4,6,7,7,8,9,9]. Drop duplicate values from this list and print the remaining numbers."

data=[1,2,3,4,6,7,7,8,9,9]
new_data=set(data)
print(new_data)

{1, 2, 3, 4, 6, 7, 8, 9}

In [68]:
# \tIf you are given two lists create a dictionary from it. keys_list = [1,2,3,4] values_list = [‘ind’, ‘aus’, ‘eng’ , ‘pak’]"
#keys_list = [1,2,3,4]
#values_list = [ind’, ‘aus’, ‘eng’ , ‘pak’]
dict={
    1:"ind",
    2:"aus",
    3:"eng",
    4:"pak",
}
print(dict)

{1: 'ind', 2: 'aus', 3: 'eng', 4: 'pak'}

In [75]:
#How do you check if a variable is of a certain data type in Python?"
input= "sara"
print(type(input))
input1=10.5
print(type(10.5))
input2=True
print(type(input2))

<class 'str'>
<class 'float'>
<class 'bool'>

In [78]:
# Write a program that prints the first 10 natural numbers.\n"
for i in range(0,11):
    print(i)

0
1
2
3
4
5
6
7
8
9
10

In [114]:
# Write a python code to find last 4 characters of a string : 'Machine Learning'"
input="Machine learning"
print(input[-4:])

ning

In [120]:
# Write a python code to remove blank space from string : 'P y t h o n'\n"
input= 'P y t h o n'
input2 = input.replace(" ","")
print(input2)

Python

In [5]:
# Write a python code to remove trailing space from string: ‘Machine Learning.
text= 'Machine Learning '
result=text.rstrip()
print(result)

Machine Learning

In [13]:
# Write a python code to print the summation of all the numbers from 1 to 100"

sum=0
for num in range(1,101):
    sum=sum+num
print("sum of numbers from 1 to 100:",sum)

sum of numbers from 1 to 100: 5050

In [130]:
# Write a python code to find the second largest number in a
list= [21,44,767,98,37,106,345,87]
(list.sort(reverse=True))
print(list)
second_largest=print(list[1])

[767, 345, 106, 98, 87, 44, 37, 21]
345

In [132]:
# Write a python code to check given character is digit or not : 265"
input:265
input2=input.isdigit()
print(input2)

False

In [133]:
# Write a python code to Convert a string to lowercase : ‘MACHINE LEARNING’"
input='MACHINE LEARNING'
input2=input.lower()
print(input2)

machine learning

In [138]:
# Write a Python program to find the common elements between two lists."
list=[1,2,5,6,7]
list2=[2,4,5,9,0,2,8]
set1=set(list)
print(set1)
set2=set(list2)
print(set2)
common=set1.intersection(set2)
print(common)

{1, 2, 5, 6, 7}
{0, 2, 4, 5, 8, 9}
{2, 5}

In [2]:
# Write a python function to calculate the factorial of a given integer 10"

fac=1
for i in range(1,11):
        fac=fac*i
print(fac)

3628800

In [29]:
# Write a python code to create separate lists of Even and Odd numbers from a list. [21,44,22,878,55,90,17,68,69,91]"
list= [21,44,22,878,55,90,17,68,69,91]

even=[]
odd=[]
for i in list:
    if i%2==0:
        even.append(i)
    else:
        odd.append(i)
        i=i+1

print(even)
print(odd)

[44, 22, 878, 90, 68]
[21, 55, 17, 69, 91]

In [43]:
# Calculate the sum of all numbers in a list using a loop. [21,44,767,98,37]"
list= [21,44,767,98,37]

sum=0
for i in list:
    sum= sum+ i
    print(sum)

21
65
832
930
967

In [1]:
# Write a python code to find square and cube of every number in a given list of integers using Lambda. list1 = [12,3,41,7,9,111]"
list1 = [12, 3, 41, 7, 9, 111]

# Using lambda functions with map
square_result = list(map(lambda x: x ** 2, list1))
cube_result = list(map(lambda x: x ** 3, list1))

print("Original List:", list1)
print("Square of each number:", square_result)
print("Cube of each number:", cube_result)

Original List: [12, 3, 41, 7, 9, 111]
Square of each number: [144, 9, 1681, 49, 81, 12321]
Cube of each number: [1728, 27, 68921, 343, 729, 1367631]

In [48]:
# Write a python code to count the number of occurrences of a character ‘e’ in a string. ‘Machine Learning and Deep Learning’"

input ="Machine Learning and Deep Learning"

input.count("e")

5

In [49]:
# calculate the absolute value of a number -564"

number= 564
result=abs(number)
print(result)

564

In [1]:
# Write a python code to check if a string contains only alphabetic characters. String = ‘HelloPython’
text= 'HelloPython'
if text.isalpha():
    print("contains only alphabetic characters")

contains only alphabetic characters

In [9]:
# Write a program that prints the first 10 natural numbers.

i=1
for i in range(1,11):
    print(i)

1
2
3
4
5
6
7
8
9
10

In [20]:
# \tCreate two separate dictionaries and Merge them."

Dict1= {
    "x" : "Delhi",
    "y" : "Bangalore",
}

Dict2 = {
    "a" : "Dhanbad",
    "b" : "Amritsar",
}
Dict1.update(Dict2)
print(Dict1)

{'x': 'Delhi', 'y': 'Bangalore', 'a': 'Dhanbad', 'b': 'Amritsar'}

In [1]:
# Write a python code to filter odd numbers from the list using filter () function. 

my_list = [12, 3, 41, 7, 9, 111]

def odd_num(i):
    return i % 2 != 0

result = filter(odd_num, my_list)
print(list(result))

[3, 41, 7, 9, 111]

In [15]:
# Create a function that checks if a given number is even or odd."

x=40

def even_odd():
    if(x%2==0):
        print("no is even")

even_odd()

no is even

In [35]:
# Create a function to find the sum of all even numbers in a list.
list1 = [ 21,44,767,98,37]

total_sum=0
for i in list1:
    if i%2==0:
        total_sum=total_sum+i
print(total_sum)

142

In [11]:
# Write a Python program to find the maximum and minimum values in a list. list1 = [ 21,44,767,98,37]"
list1 = [ 21,44,767,98,37]

asc=list1.sort()
print(list1)
print(list1[0])
print(list1[-1])

[21, 37, 44, 98, 767]
21
767

In [15]:
# Write a function to remove duplicate elements from a list."

list=[1,2,3,4,4,2]

def dup():
    new_list=set(list)
    return new_list
    
dup()

{1, 2, 3, 4}

In [18]:
# Create a Python dictionary with keys as cars and values as their respective prices.\n",
    ### car_models = [\"Toyota Camry\", \"Honda Civic\", \"Ford Mustang\", \"Chevrolet Silverado\", \"Nissan Altima\"]\n",
    ### car_prices = [2500000, 2200000, 4000000, 3500000, 2300000

   
Dict={
    "Toyota" : 2500000,
    "Honda Civic" : 2200000,
    "Ford Mustang" : 4000000,
    "Chevrolet Silverado" :3500000,
    "Nissan Altima" : 2300000
}
print(Dict)

{'Toyota': 2500000, 'Honda Civic': 2200000, 'Ford Mustang': 4000000, 'Chevrolet Silverado': 3500000, 'Nissan Altima': 2300000}

In [21]:
# Create a Python function to reverse a string."

string="sara"

def rev():
    new=string[::-1]
    return new

rev()

'aras'

In [23]:
# Calculate the mean of a list of numbers. [ 21,44,767,98,37]"

list= [ 21,44,767,98,37]


avg=0
total_sum=0
for i in list:
    total_sum=total_sum+i
    avg=total_sum/len(list)
print(avg)

193.4

In [25]:
# Write a python code to check if a number is positive, negative, or zero."

num=[1,-2,0]

for i in num:
    if i>0:
        print("Positive")
    elif i<0:
        print("Negative")
    else:
        print("zero")

Positive
Negative
zero

In [45]:
# Find the length of the longest word in a string: ‘Data Science and Machine Learning’"

string1= 'Data Science and Machine Learning'
word=string1.split(" ")
print(word)


max_len=0
for i in word:
    if len(i)>max_len:
        max_len=len(i)
    print(max_len)

['Data', 'Science', 'and', 'Machine', 'Learning']
4
7
7
7
8